* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

/* Generali */
.pad_topbottom50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}
/* fine generali */

/* Header */
/* Barra di navigazione */
nav {
  background-color: #fff;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .logo {
  position: relative;
  height: 70px;
}

nav .logo img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 80%;
}

nav a {
  color: #000033;
  font-weight: bold;
}

nav a:hover {
  color: #296EF6;
}

nav .main-menu li,
nav .user-menu li {
  display: inline-block;
  padding: 0 3%;
}

.btn_signup {
  border: 2px solid #296EF6;
  padding: 10px;
  border-radius: 7px;
  color: #296EF6;
  transition: 0.3s;
}

.btn_signup:hover {
  background-color: #296EF6;
  color: #fff;
}

.bars a {
  font-size: 2rem;
}

/* fine barra di navigazione */
.lc_jumbotron {
  background-image: url(../img/jumbotron.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}

.jumbo_title {
  color: #fff;
}

.jumbo_title h1 {
  font-size: 4.5rem;
}

.jumbo_form {
  background-color: white;
  padding: 20px 10px;
  border-radius: 7px;
}

.jumbo_form h2 {
  margin: 10px 0;
  font-size: 3rem;
}

.color_blue {
  color: #296EF6;
}

.jumbo_form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  margin-top: 5px;
  border: 1px solid lightgrey;
}

.jumbo_form .create_account,
.jumbo_form .google_signup {
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  transition: 0.3s;
}

.jumbo_form .create_account {
  background-color: #6c9bf9;
  border: 2px solid #6c9bf9;
  color: #fff;
}

.jumbo_form .create_account:hover {
  background-color: #fff;
  color: #6c9bf9;
}

.jumbo_form .google_signup {
  color: #999966;
  font-weight: bold;
  box-shadow: 1px 1px 5px #888888;
}

.jumbo_form .google_signup:hover {
  color: #000;
}

.jumbo_form .google_signup img {
  max-width: 30px;
  height: auto;
  padding: 3px;
}
/* fine header */

/* Main */
/* Sezione logos */
section.logos {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 10px;
}

.logos p {
  padding-top: 10px;
}
/* fine sezione logos */
/* Sezione deploy */
section.deploy ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid grey;
}

.apps-boxes > div {
  background-color: lightblue;
  border: 2px solid red;
  height: 100px;
}
/* fine sezione deploy */
/* Sezione big carousel */
.big_carousel,
.small_carousel {
  background-color: lightgrey;
}
.big_carousel_screen {
  height: 300px;
  background-color: white;
}

.big_carousel .chevron {
  line-height: 300px;
}
/* fine sezione big carousel */
/* Sezione features */
.features_boxes > div {
  height: 150px;
  background-color: lightgreen;
  border: 2px solid green;
}
/* fine sezione features */
/* Sezione regions */
section.regions {
  background-image: linear-gradient(to bottom, blue, darkblue);
  color: white;
}

.first_column > div,
.second_column > div {
  padding-bottom: 5px;
  border-bottom: 2px solid grey;
}
/* fine sezione regions */
/* Sezione small carousel */
.small_carousel_screen {
  height: 200px;
  background-color: white;
}

.small_carousel .chevron {
  line-height: 200px;
}
/* fine sezione small carousel */
/* Sezione "get started" */
section.get_started {
  background-color: blue;
  color: white;
}

.get_started a {
  display: inline-block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  color: blue;
  text-decoration: none;
}
/* fine sezione "get started" */
/* fine main */

/* Footer */
footer {
  background-color: darkblue;
  color: white;
}

footer .logo {
  margin-bottom: 20px;
}

footer p {
  font-weight: bold;
  margin: 0;
}

footer ul {
  list-style: none;
}

.list a {
  text-decoration: none;
  color: white;
}
/* fine footer */

/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
/* FINE MEDIA QUERIES */
