* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Generali */
.pad_topbottom50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* fine generali */

/* Header */
/* Barra di navigazione */
nav {
  background-color: blue;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .logo {
  background-color: lightblue;
}

nav .main-menu {
  background-color: darkblue;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav .main-menu li,
nav .user-menu li {
  display: inline-block;
  padding: 0 3%;
}

nav .user-menu {
  background-color: purple;
}
/* fine barra di navigazione */
.lc_jumbotron {
  background-color: pink;
  margin-top: 70px;
}

.jumbo_title {
  background-color: red;
  height: 300px;
}

.jumbo_form {
  background-color: white;
  height: 300px;
}
/* fine header */

/* Main */
/* Sezione logos */
section.logos {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 10px;
}

.logos p {
  padding-top: 10px;
}
/* fine sezione logos */
/* Sezione deploy */
section.deploy ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid grey;
}

.apps-boxes > div {
  background-color: lightblue;
  border: 2px solid red;
  height: 100px;
}
/* fine sezione deploy */
/* Sezione big carousel */
.big_carousel,
.small_carousel {
  background-color: lightgrey;
}
.big_carousel_screen {
  height: 300px;
  background-color: white;
}

.big_carousel .chevron {
  line-height: 300px;
}
/* fine sezione big carousel */
/* Sezione features */
.features_boxes > div {
  height: 150px;
  background-color: lightgreen;
  border: 2px solid green;
}
/* fine sezione features */
/* Sezione regions */
section.regions {
  background-image: linear-gradient(to bottom, blue, darkblue);
  color: white;
}

.first_column > div,
.second_column > div {
  padding-bottom: 5px;
  border-bottom: 2px solid grey;
}
/* fine sezione regions */
/* Sezione small carousel */
.small_carousel_screen {
  height: 200px;
  background-color: white;
}

.small_carousel .chevron {
  line-height: 200px;
}
/* fine sezione small carousel */
/* Sezione "get started" */
section.get_started {
  background-color: blue;
  color: white;
}

.get_started a {
  display: inline-block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  color: blue;
  text-decoration: none;
}
/* fine sezione "get started" */
/* fine main */

/* Footer */
footer {
  background-color: darkblue;
  color: white;
}

footer .logo {
  margin-bottom: 20px;
}

footer p {
  font-weight: bold;
  margin: 0;
}

footer ul {
  list-style: none;
}

.list a {
  text-decoration: none;
  color: white;
}
/* fine footer */
